anytree==2.7.3
appdirs==1.4.3
arrow==0.14.2
asn1crypto==0.24.0
astropy==3.0.4
atomicwrites==1.2.1
attrs==18.2.0
Automat==0.7.0
backcall==0.1.0
binaryornot==0.4.4
bleach==2.1.4
bokeh==0.13.0
Bottleneck==1.2.1
cachetools==4.0.0
certifi==2019.11.28
cffi==1.11.5
chardet==3.0.4
click==6.7
cloudpickle==0.5.5
colorama==0.3.9
config==0.4.2
constantly==15.1.0
cookiecutter==1.6.0
cryptography==2.7
cycler==0.10.0
Cython==0.28.5
cytoolz==0.9.0.1
dask==0.19.1
decorator==4.3.0
dill==0.2.8.2
distributed==1.23.1
docopt==0.6.2
entrypoints==0.2.3
fast-histogram==0.5
future==0.17.1
glue-core==0.13.3
glue-vispy-viewers==0.10
h5py==2.8.0
heapdict==1.0.0
html5lib==1.0.1
hyperlink==18.0.0
idna==2.7
imageio==2.4.1
incremental==17.5.0
ipykernel==5.1.1
ipython==6.5.0
ipython-genutils==0.2.0
jedi==0.12.1
Jinja2==2.10
jinja2-time==0.2.0
joblib==0.13.2
johnnydep==1.0
jsonschema==2.6.0
jupyter-client==5.2.3
jupyter-core==4.4.0
kiwisolver==1.0.1
locket==0.2.0
MarkupSafe==1.0
matplotlib==2.2.3
mistune==0.8.3
mkl-fft==1.0.4
mkl-random==1.0.1
more-itertools==4.3.0
mpl-scatter-density==0.4
msgpack==0.5.6
nbconvert==5.3.1
nbformat==4.4.0
networkx==2.1
notebook==5.6.0
numpy==1.15.1
olefile==0.46
oyaml==0.9
packaging==17.1
pandas==0.23.4
pandocfilters==1.4.2
parso==0.3.1
partd==0.3.8
patsy==0.5.0
pickleshare==0.7.4
Pillow==5.2.0
pip==19.3.1
pipreqs==0.4.9
pkginfo==1.5.0.1
plotly==3.2.1
pluggy==0.7.1
pomegranate==0.11.0
poyo==0.4.2
prometheus-client==0.3.1
prompt-toolkit==1.0.15
psutil==5.4.7
psycopg2==2.8.2
py==1.6.0
pyasn1==0.4.4
pyasn1-modules==0.2.2
pycparser==2.18
Pygments==2.2.0
PyHamcrest==1.9.0
PyOpenGL==3.1.1a1
pyOpenSSL==18.0.0
pyparsing==2.2.0
pyreadline==2.1
PySocks==1.6.8
pytest==3.8.0
pytest-arraydiff==0.2
pytest-astropy==0.4.0
pytest-doctestplus==0.1.3
pytest-openfiles==0.3.0
pytest-remotedata==0.3.0
python-dateutil==2.7.3
pytoml==0.1.21
pytz==2018.5
PyWavelets==1.0.0
pywin32==223
pywinpty==0.5.4
PyYAML==3.13
pyzmq==17.1.2
qtconsole==4.4.1
QtPy==1.5.0
requests==2.19.1
retrying==1.3.3
rpy2==2.9.4
scikit-image==0.14.0
scikit-learn==0.20.0
scipy==1.1.0
seaborn==0.9.0
Send2Trash==1.5.0
service-identity==17.0.0
setuptools==40.2.0
simplegeneric==0.8.1
six==1.11.0
sklearn==0.0
sortedcontainers==2.0.5
statsmodels==0.9.0
structlog==19.2.0
tabulate==0.8.6
TBB==0.1
tblib==1.3.2
terminado==0.8.1
testpath==0.3.1
toolz==0.9.0
tornado==4.5.3
tqdm==4.32.2
traitlets==4.3.2
Twisted==18.7.0
tzlocal==2.0.0
urllib3==1.23
virtualenv==16.6.1
wcwidth==0.1.7
webencodings==0.5.1
wheel==0.33.6
whichcraft==0.5.2
wimpy==0.6
win-inet-pton==1.0.1
wincertstore==0.2
xlrd==1.1.0
yarg==0.1.9
zict==0.1.3
zope.interface==4.5.0